# Simplicity Studio's copied SDK and local build products.
/simplicity_sdk_*/
/cmake_gcc/build/

# Local IDE state.
/.projectlinkstore
/.vscode/

*.bak0
*.bak
.DS_Store/
.DS_Store
/cmake_gcc/*
!/cmake_gcc/*_project.cmake
.vscode/

__pycache__/
*.pyc

*.bin
*.hex
*.elf
*.map
*.s37
*.gbl

.uceditor/
.projectlinkstore
autogen/sbom/
.silabsExtContext

vscode.conf
/.codex/
